.weather__parameters {
    font-weight: 600;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.weatherApp {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    
}
.weather__container{
    display: inline-flex;
    width: 50%;
    justify-content: center;
    margin: auto 0;
    transition: all 0.3s;
}

.weather__parameters-error {
    color: red;
    font-size: 20px;
}

.form__container > form {
    display: inline-flex;
    flex-direction: column;
}

.form__input {
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form__button{
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    background-color: #03C04A;
    border: 2px solid green;
    border-radius: 5px;
    color: #FFFFFF;
}

.info__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    color: #FFFFFF;
    background: url(./img/Debate_map_12-01-300x300.jpg);
}

.info__container h2 {
    font-size: 40px;
}

.info__container p {
    font-size: 16px;
}